body{
  background-image: url("gradientgeometricbackground.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



.image1{
  height: 300px;
}

#borderimg{
  background-color: #10570fff;
  color: #c1d7c1ff;
}

#wrapper{
 width:60%;
 margin: auto;
 margin-top: 30px;
}

ul{
  list-style-image: url("stardewvalleycowpngicon.png");
}