#sidebar{
  display: none;
  
}
#nav{
  display: none;
}
#footer{
  display: none;
}
.news{
  display: none;
}
a:after{
     content: " " attr(href);
}
img{
  display: none;
}
body{
  font-size: 1.25em;
  color: black;
  background-color: white;
}